body {
    margin: 0;
}

header {
    background-color: rgb(168, 158, 158);
    width: 100%;
    height: 1000px;
}

#h-div1 {
    width: 100%;
    height: 80px;
    background-color: yellow;
}

#h-div2 {
    width: 20%;
    height: 80px;
    background-color: #333;
    float: left;
    color: antiquewhite;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}

#h-div3 {
    width: 60%;
    height: 80px;
    background-color: #333;
    float: left;
}

#h-div4 {
    width: 20%;
    height: 80px;
    background-color: #333;
    float: left;
}

.menu {
    list-style-type: none;
    text-decoration: none;
    float: left;
    color: antiquewhite;
    font-size: 28px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;
}

.dil {
    list-style-type: none;
    text-decoration: none;
    float: left;
    color: antiquewhite;
    font-size: 20px;
    line-height: 50px;
    margin-left: 4px;
    font-weight: bold;
}

#h_img{
    width:100%;
    height: 920px;
    background-color: #333;
}

#h_goruntu{
    width:100%;
    height:100%;
}

#cerez{
width: 100%;
height: 40px;
background-color: #333;
position: fixed;
bottom:0px;
z-index: 2;
line-height: 40px;
color:antiquewhite;
font-size: 20px;
}
#gizli{
    color:darkred;
    font-weight: bold;
}
#kapama{
    border:1px solid antiquewhite;
    padding:5px;
    border-radius: 10px;
    margin-left:45%;
}
#sec{
    width: 100%;
    height: 500px;
    background-color: #333;
}
.yorum{
    width: 22%;
    height: 400px;
    background-color: rgb(122, 116, 116);
    float:left;
    margin-top:4%;
    margin-left:2%;
    border-radius: 15px;
    border:1px solid antiquewhite;
    box-shadow: yellow 0px 10px 15px;
}
.resimAlani{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:auto;
}
.comment{
    width: 100%;
    height: 250px;
    text-align: justify;
    padding: 5px;
    box-sizing: border-box;
    color:antiquewhite;
}
.kisi{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    color:black;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
#foot{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
}
#map{
    width: 40%;
    height: 500px;
    position: relative;
    border:4px solid #333;
    top:8%;
    left:5%;
}
#iletisim{
    width:40%;
    height: 400px;
    background-color: #555;
    position: relative;
    bottom:67%;
    left:55%;
    border-radius: 40px;
}
#adres{
    width: 100%;
    height: 250px;
    /* border:1px solid red; */
    padding: 15px;
    box-sizing: border-box;
}
.add{
    text-align: center;
    color: antiquewhite;
    padding: 10px;
}
#sosyal{
    width: 100%;
    height: 150px;
    text-align: center;
}
.aa{
    color:gray;
    font-size:48px;
    margin-left:20px;
}